.film {
  border-top: 1px solid @light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.film:first-child {
  border-top: none;
} 

.film__text {
  font-size: 18px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.film--favourite .film__favourite-button {
  background-color: @main-color;
}

.film--favourite .film__favourite-button::before {
  transform: translate(3.5px, 0px) rotate(-45deg);
  width: 18px;
  background-color: white;
}

.film--favourite .film__favourite-button::after {
  transform: translate(-6px, 2px) rotate(45deg);
  width: 10px;
  background-color: white;
}