.tag {
  padding: 8px 15px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid @light-gray;
  font-size: 15px;
  cursor: pointer;
  color: @gray;
  display: inline-block;
  text-align: center;
  margin: 5px;
  margin-top: 0;
  border-radius: 5px;
}

.tag--active {
  color: @main-color;
  border-color: @main-color;
}

.tag--button {
  background-color: @main-color;
  color: white;
  border-color: @main-color;
  outline-offset: 1px;
}